## ONE-WAY ANOVA

In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\siddh\\OneDrive\\Desktop\\Data science data\\Hypothesis Testing\\PlantGrowth.csv")
df.head()

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl

In [8]:
df = df[['weight','group']]
df.head()

   weight group
0    4.17  ctrl
1    5.58  ctrl
2    5.18  ctrl
3    6.11  ctrl
4    4.50  ctrl

In [13]:
grps = pd.unique(df.group.values) #Unique value in grp column

In [22]:
from scipy.stats import f_oneway
d_data = {grp:df['weight'][df['group'] == grp] for grp in grps} #Categorizing weights in each grp

F_calc,pval = f_oneway(d_data['ctrl'],d_data['trt1'],d_data['trt2'])
print("p-value calculated : ",pval)

if pval<0.05:
    print("reject null hypothesis")
    
else:
    print("Failed to reject null hypothesis")

p-value calculated :  0.0159099583256229
reject null hypothesis

In [23]:
# PLANT GROWTH CHANGES FOR EACH SPECIE