## ONE-SAMPLE Z-TEST

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\siddh\\OneDrive\\Desktop\\SQL\\SQL DATASET\\blood_pressure.csv")
data.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [3]:
# HYPOTHESIS

# NULL ----->       bp_before = 159
# ALTERNATE ----->  bp_before != 159

In [5]:
# HYPOTHESIS

# NULL ----->       bp_before = 159
# ALTERNATE ----->  bp_before != 159 


from scipy import stats
from statsmodels.stats import weightstats as stests

z_calc,pval = stests.ztest(data['bp_before'],x2=None,value=159) # 2 tail test
print("p-val :",pval)

if pval<0.05: #alpha = 5%
    print("We reject null hypothesis")
else:
    print("We are failing to reject null hypothesis")

p-val : 0.014185854025524306
We reject null hypothesis

## 2-SAMPLE Z TEST

In [6]:
# HYPOTHESIS

# NULL ------------> Mean of two group is zero
#ALT   ------------> Mean of two group is not zero


z_calc,pval1 = stests.ztest(x1 = data['bp_before'],x2=data['bp_after'],value=0,alternative='two-sided') # 2 tail test
print("p-val :",pval1)

if pval1<0.05: #alpha = 5%
    print("We reject null hypothesis")
else:
    print("We are failing to reject null hypothesis")

p-val : 0.002162306611369422
We reject null hypothesis

In [7]:
# TREATMENT WAS EFFECTIVE IN FLUCTUATING BP